[defaults]
host_key_checking = False
timeout = 60
ansible_ssh_common_args = -o ControlMaster=auto -o ControlPersist=60s

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes

[paramiko_connection]
record_host_keys = False
